:root{
    --first_color: #5ab4fa;
    --second_color: #6DA5Cf;
    --third_color: #728FA5;
    --fourth_color: #69737A;
    --fifth_color: #3E4850;
    --sixth_color: #1F2A33;
    /*--background-color: rgb(247, 232, 220);*/
}

/*Body*/
body {
    /*background-color: var(--background-color);*/
    color: var(--fifth_color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*header*/
header {
    background-color: var(--fourth_color);
    position: relative;
    height: 200px;
}
/*Container-Redes*/
.container-redes {
    position: absolute;
    top: 60px;
    left: 20px;
    display: flex;
    flex-direction: row;
}
.container-redes a {
    margin-left: 20px;
}

.fa-instagram, .fa-facebook, .fa-whatsapp {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--background-color);
}

.fa-instagram:hover, .fa-facebook:hover, .fa-whatsapp:hover {
    color: var(--first_color);
}


/*Container-Logo-*/
.logo {
    background-image: url(images/fondo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000, 
                 -1px -1px 0 #000, 
                 1px -1px 0 #000, 
                 -1px 1px 0 #000;
}

/*Dropdown*/

.dropdown-content a {
    color: white;
    padding: 20px 20px; 
    text-decoration: none;
    font-weight: bold;
}
/*Footer*/
footer {
    background-color: #6c757d;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.main-section {
    text-align: center;
    padding: 50px 0;
}

.main-section img {
    max-width: 300px; /* Doble del tama침o anterior */
    margin-bottom: 20px;
}

.main-section h1,
.main-section p {
    font-weight: bold;
}

.color-botones {
    background-color: var(--third_color);
    border-color: var(--third_color);
}
.color-botones:visited {
    background-color: var(--third_color);
    border-color: var(--third_color);
}
.color-botones:hover {
    background-color: var(--third_color);
    border-color: var(--third_color);
}

@media (max-width: 768px) {
    .container-redes {
        top: 10px;
        left: 10px;
    }
    .container-redes a {
        margin-left: 10px;
    }
    .fa-instagram, .fa-facebook, .fa-whatsapp {
        font-size: 1rem;
        text-decoration: none;
        color: var(--background-color);
    }
    .logo h1 {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #000, 
                     -1px -1px 0 #000, 
                     1px -1px 0 #000, 
                     -1px 1px 0 #000;
    }
    header a {
        display: block;
        margin: 10px 0;
    }

    .main-section {
        padding: 30px 10px;
    }

    .main-section img {
        max-width: 200px; /* Ajustar tama침o para pantallas m치s peque침as */
    }
    
    .dropbtn {
        background-color: var(--third_color);
        color: white;
        padding: 16px;
        font-size: 0.9em;
        border: none;
        font-weight: bold;
        /*border-radius: 20px;*/
        cursor: pointer;
    }
      
    .dropdown {
        margin: auto;
        width: 100px;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--fifth_color);
        /*min-width: 120px;*/
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;    
    }
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    
    }
      
    .dropdown-content a:hover {background-color: var(--second_color)}
      
    .dropdown:hover .dropdown-content {
        display: block; 
    }
      
    .dropdown:hover .dropbtn {
        background-color: var(--third_color);
    }
}
@media (min-width: 768px) {
    
        .dropbtn{
            display: none;
        }
    
        .dropdown-content{
            /*background: #B1B2FF;
            border-radius: 50px 0px 0px 50px;
            margin: 75px 0px 0px 0px;*/
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .dropdown-content a:hover {color: var(--second_color)}

}

@media (max-width: 400px) {
    .container-redes {
        top: 0px;
        left: 0px;
    }
    .container-redes a {
        margin-left: 8px;
    }

    .fa-instagram, .fa-facebook, .fa-whatsapp {
        font-size: 0.7rem;
        text-decoration: none;
        color: var(--background-color);
    }
    .logo h1 {
        font-size: 15px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #000, 
                     -1px -1px 0 #000, 
                     1px -1px 0 #000, 
                     -1px 1px 0 #000;
    }
}
